:root {
  --onyx: #36393bff;
  --uranian-blue: #a5d8ffff;
  --light-blue: #afd0d6ff;
  --black-shadows: #bfb6bbff;
  --tuscany: #c49799ff;
}

body {
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  background-color: var(--black-shadows);
  color: var(--onyx);
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

textarea {
  width: 99%;
  min-height: 200px;
  margin-bottom: -5px;
  resize: none;
  outline: none;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 0.875rem;
  color: var(--onyx);
  border: 1px solid var(--onyx);
  background-color: var(--light-blue);
}
.header,
.credits {
  width: 100%;
  height: 40px;
  font-size: 0.8em;
  text-align: center;
  line-height: 0px;
  border: 1px solid var(--onyx);
  background-color: var(--tuscany);
  display: table;
  height: 40px;
  overflow: hidden;
}

.caption {
  display: table-cell;
  vertical-align: middle;
}

.section {
  width: 60%;
  margin-top: 15px;
}

#preview {
  font-size: 0.5em;
  border: 1px solid var(--onyx);
  background-color: var(--light-blue);
}

#preview img {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

.credits {
  width: 60%;
  line-height: 23px;
  text-align: center;
  font-size: 0.8em;
  margin: auto;
  margin-bottom: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.credits a {
  text-decoration: none;
  color: var(--onyx);
}
